@import "./_setting.scss";

.trello-ride-master {
  height: 100vh;
  line-height: 1.3em;
  background-color: $board-bg-color;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.navbar {
  padding-left: $gap;
  display: flex;
  align-items: center;
}
